---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### Provider

{{ tffile "examples/ifconfig/providers.tf" }}

### curl_request

{{ tffile "examples/ifconfig/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
