---
page_title: "{{.Name}} {{.Type}} - {{.ProviderName}}"
subcategory: ""
description: |-
{{ .Description | plainmarkdown | trimspace | prefixlines "  " }}
---

# {{.Name}} ({{.Type}})

{{ .Description | trimspace }}

## Example Usage

### curl_request google

{{ tffile "examples/google/main.tf" }}

### curl_request ifconfig

{{ tffile "examples/ifconfig/main.tf" }}

### curl_request github workflow dispatch

{{ tffile "examples/trigger-github-workflow/main.tf" }}

{{ .SchemaMarkdown | trimspace }}
